<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.driver.dao.CarMapper" >
  <resultMap id="BaseResultMap" type="com.driver.dao.Car" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="car_number" property="carNumber" jdbcType="VARCHAR" />
    <result column="frame_number" property="frameNumber" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_city" property="carCity" jdbcType="VARCHAR" />
    <result column="car_user" property="carUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, car_number, frame_number, car_type, car_city, car_user
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.driver.dao.CarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.driver.dao.CarExample" >
    delete from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.driver.dao.Car" >
    insert into car (id, car_number, frame_number, 
      car_type, car_city, car_user
      )
    values (#{id,jdbcType=INTEGER}, #{carNumber,jdbcType=VARCHAR}, #{frameNumber,jdbcType=VARCHAR}, 
      #{carType,jdbcType=VARCHAR}, #{carCity,jdbcType=VARCHAR}, #{carUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.driver.dao.Car" >
    insert into car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="carNumber != null" >
        car_number,
      </if>
      <if test="frameNumber != null" >
        frame_number,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carCity != null" >
        car_city,
      </if>
      <if test="carUser != null" >
        car_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carNumber != null" >
        #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="frameNumber != null" >
        #{frameNumber,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carCity != null" >
        #{carCity,jdbcType=VARCHAR},
      </if>
      <if test="carUser != null" >
        #{carUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.driver.dao.CarExample" resultType="java.lang.Integer" >
    select count(*) from car
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update car
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.carNumber != null" >
        car_number = #{record.carNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.frameNumber != null" >
        frame_number = #{record.frameNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.carType != null" >
        car_type = #{record.carType,jdbcType=VARCHAR},
      </if>
      <if test="record.carCity != null" >
        car_city = #{record.carCity,jdbcType=VARCHAR},
      </if>
      <if test="record.carUser != null" >
        car_user = #{record.carUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update car
    set id = #{record.id,jdbcType=INTEGER},
      car_number = #{record.carNumber,jdbcType=VARCHAR},
      frame_number = #{record.frameNumber,jdbcType=VARCHAR},
      car_type = #{record.carType,jdbcType=VARCHAR},
      car_city = #{record.carCity,jdbcType=VARCHAR},
      car_user = #{record.carUser,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.driver.dao.Car" >
    update car
    <set >
      <if test="carNumber != null" >
        car_number = #{carNumber,jdbcType=VARCHAR},
      </if>
      <if test="frameNumber != null" >
        frame_number = #{frameNumber,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carCity != null" >
        car_city = #{carCity,jdbcType=VARCHAR},
      </if>
      <if test="carUser != null" >
        car_user = #{carUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.driver.dao.Car" >
    update car
    set car_number = #{carNumber,jdbcType=VARCHAR},
      frame_number = #{frameNumber,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_city = #{carCity,jdbcType=VARCHAR},
      car_user = #{carUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>